@using SubTube.Module.Pricing.Services
@using SubTube.Module.Pricing.Models

@namespace SubTube.Module.Pricing
@inherits ModuleBase
@inject IPricingService PricingService
@inject NavigationManager NavigationManager
@inject IStringLocalizer<Index> Localizer

@if (_Pricings == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <ActionLink Action="Add" Security="SecurityAccessLevel.Edit" Text="Add Pricing" ResourceKey="Add" />
    <br />
    <br />
    @if (@_Pricings.Count != 0)
    {
        <Pager Items="@_Pricings">
            <Header>
                <th style="width: 1px;">&nbsp;</th>
                <th style="width: 1px;">&nbsp;</th>
                <th>@Localizer["Name"]</th>
            </Header>
            <Row>
                <td><ActionLink Action="Edit" Parameters="@($"id=" + context.PricingId.ToString())" ResourceKey="Edit"  /></td>
                <td><ActionDialog Header="Delete Pricing" Message="Are You Sure You Wish To Delete This Pricing?" Action="Delete" Security="SecurityAccessLevel.Edit" Class="btn btn-danger" OnClick="@(async () => await Delete(context))" ResourceKey="Delete"  Id="@context.PricingId.ToString()" /></td>
                <td>@context.Name</td>
            </Row>
        </Pager>
    }
    else
    {
        <p>@Localizer["Message.DisplayNone"]</p>
    }
}

@code {
    public override string RenderMode => RenderModes.Static;

    public override List<Resource> Resources => new List<Resource>()
    {
        new Stylesheet(ModulePath() + "Module.css"),
        new Script(ModulePath() + "Module.js")
    };

    List<Pricing> _Pricings;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            _Pricings = await PricingService.GetPricingsAsync(ModuleState.ModuleId);
        }
        catch (Exception ex)
        {
            await logger.LogError(ex, "Error Loading Pricing {Error}", ex.Message);
            AddModuleMessage(Localizer["Message.LoadError"], MessageType.Error);
        }
    }

    private async Task Delete(Pricing Pricing)
    {
        try
        {
            await PricingService.DeletePricingAsync(Pricing.PricingId, ModuleState.ModuleId);
            await logger.LogInformation("Pricing Deleted {Pricing}", Pricing);
            _Pricings = await PricingService.GetPricingsAsync(ModuleState.ModuleId);
            StateHasChanged();
        }
        catch (Exception ex)
        {
            await logger.LogError(ex, "Error Deleting Pricing {Pricing} {Error}", Pricing, ex.Message);
            AddModuleMessage(Localizer["Message.DeleteError"], MessageType.Error);
        }
    }
}